---
title: Categories
permalink: /categories.html
---
{% assign categories = site.categories | sort %}

<div id="toc">
  <ul>
    {% for category in categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
      <li><a href="#{{ category_name | slugify }}">{{ category_name | capitalize }}</a></li>
    {% endfor %}
  </ul>
</div>

{% for category in categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}

<p id="{{ category_name | slugify }}"></p>
<h3>{{ category_name | capitalize }}</h3>
<ul>
  {% for post in site.categories[category_name] %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}