---
title: Tags
permalink: /tags.html
---
{% assign tags = site.tags | sort %}

<div id="toc">
  <ul>
    {% for tag in tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <li><a href="#{{ tag_name | slugify }}">{{ tag_name }}  <span class="badge">{{ tag_name.size }}</span></a></li>
    {% endfor %}
  </ul>
</div>

{% for tag in tags %}
{% capture tag_name %}{{ tag | first }}{% endcapture %}
<p id="{{ tag_name | slugify }}"></p>
<h2>{{ tag_name }}</h2>
<ul>
  {% for post in site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}