<footer class="footer">
  <p class="copyright">&copy;
    <strong>{{ metadata.title }}.</strong>
    Built with
    <a href="https://www.11ty.dev/">11ty</a>
    and
    <a href="https://matifandy8.github.io/NeoBrutalismCSS/">NeoBrutalismCSS</a>.
  </p>
</footer>
