<footer>
  <p class="copyright">&copy; {{ metadata.title }}. Built with
    <a href="https://www.11ty.dev/">11ty</a> and <a href="https://matifandy8.github.io/NeoBrutalismCSS/">NeoBrutalism</a>.
  </p>
</footer>
