<header>
  {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
  <nav>
    <div class="button-container">
      {%- for entry in collections.all | eleventyNavigation %}
        <a href="{{ entry.url }}" class="nb-button default rounded">{{ entry.title }}</a>
      {%- endfor %}
    </div>
  </nav>
</header>
