<!doctype html>
<html lang="en">
  {% include '_head.njk' %}
  <body>
    {% include '_header.njk' %}
    {% block hero %}{% endblock hero %}
    <div class="container">
      <main>
        {% block content %}{% endblock content %}
      </main>
    </div>
    {% include '_footer.njk' %}

    <!-- This page '{{ page.url }}' was built on {% currentBuildDate %} -->
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
