{% extends 'base.njk' %}
{% block hero %}
  <div class="hero">
    <div class="hero__content">
      <h1>{{ title }}</h1>
      <h3>{{ subtitle }}</h3>
    </div>
    {% if image %}
      <picture>
        <img src="{{ image }}" alt="post image" width="960" height="640"></picture>
      {% else %}
        <div class="cover"></div>
      {% endif %}
    </div>
  {% endblock hero %}
  {% block content %}
    <section class="content">
      {{ content | safe }}
    </section>
  {% endblock content %}
