---
layout: default
title: Archive
---
<header class="post-header">
  <h1 class="post-title">
    {{ page.title }}
  </h1>
</header>

{% for post in site.posts %}
  {% capture year_of_current_post %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture year_of_previous_post %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <div id="{{ year_of_current_post }}"></div>
  <div class="posts">
    <div class="content-subhead">{{ year_of_current_post }}</div>
  {% endif %}
      {% include posts-list.html %}

  {% if forloop.last %}
  </div>
  {% else %}
  {% if year_of_current_post != year_of_previous_post %}
  </div>
  <div id="{{ year_of_previous_post }}"></div>
  <div class="posts">
    <div class="content-subhead">{{ year_of_previous_post }}</div>
  {% endif %}
  {% endif %}
{% endfor %}