---
layout: default
title: Books
---
<main>
  <article>
    <header>
      <div class="cover bg-left bg-center-l" style="background-image: url({{ site.logo | relative_url }})">
        <div class="bg-black-50 pb5 pb6-m pb7-l">
          <nav class="dt w-100 mw8 center">
            <div class="dtc w2 v-mid pa3">
              <a href="{{ '/' | relative_url }}" class="dib w2 h2 ba b--moon-gray grow-large border-box">
                <img src="{{ site.logo | relative_url }}" alt="Site logo" />
              </a>
            </div>
            <div class="dtc v-mid tr pa3">
              {% for link in site.data.nav %}
              <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3"
                href="{{ link.url | relative_url }}">
                {{ link.title }}
              </a>
              {% endfor %}
            </div>
          </nav>
          <div class="mt4 mt5-m mt6-l ph3">
            <div class="tc-l">
              <h1 class="f2 f1-l fw2 moon-gray mb0 lh-title">{{ page.title }}</h1>
              <h2 class="fw1 f3 white-60 mt3 mb4">{{ page.subtitle }}</h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="mt5">
      <div class="cf pa2">

        {% assign books_by_folder = site.books | sort: "path" | group_by_exp: "item", "item.path | split: '/' | slice:
        1, 1 | first" %}

        {% for group in books_by_folder %}
        {% assign folder = group.name %}
        {% assign book_index = group.items | where: "slug", "index" | first %}
        {% assign chapters = group.items | where_exp: "item", "item.slug != 'index'" | sort: "date" | reverse | slice:
        0,5 %}

        <div class="fl w-100 w-third-m w-20-l pa2">
          <img src="{{ book_index.image | relative_url }}" class="w-100 db outline white-60" />
          <div class="ph2 ph0-ns pb3 link db">
            <h2 class="f5 f4-ns mb0 moon-gray">
              {{ book_index.title }}
            </h2>
            <h4 class="f6 f5 fw4 mt2 white-60">
              {{ book_index.description }}
            </h4>
            <ul class="list pl0 ml0 center mw6 ba b--white-60 br2">
              {% for chapter in chapters %}
              <li class="ph3 pv3 bb b--white-60">
                <a href="{{ chapter.url | relative_url }}" class="db link dim f6 f5 fw4 white-60">
                  {{ chapter.title }}
                </a>
              </li>
              {% endfor %}
              <li class="ph3 pv3 tr">
                <a href="{{ book_index.url | relative_url }}" class="db link dim f6 f5 fw4 white-60">
                  View all chapters
                </a>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

  </article>
</main>
