---
title: Books
---
<div class="cloud">
{% for collection in site.collections %}
  {% if site.collections.size > 2 %}
    {% if collection.label != 'posts' %}
  <a class="capitalize" href="#{{ collection.label | first | slugify }}">
    {{ collection.label | replace: "-", " " }}
  </a>
    {% endif %}
  {% endif %}
{% endfor %}
</div>

{% for collection in site.collections %}
  {% if collection.label != 'posts' %}
<div id="{{ collection.label }}"></div>
<h2 class="capitalize">
  {{ collection.label | replace: '-', ' ' }}
  <a style="padding: 0.5rem;" href="{{ '/feed' | relative_url }}/{{ collection.label }}.xml">
    <i class="fa-solid fa-rss"></i>
  </a>
</h2>
    {% assign book = site[collection.label] %}
    {% for item in book %}
      {% if item.metadata == true %}
<div class="clearfix">
        {% if item.cover %}
  <div class="float">
    <img class="pure-img-responsive" src="{{ '/assets/images' | relative_url }}/{{ item.cover }}">
  </div>
        {% endif %}
        {% if item.start %}
  <p>
    Started: {{ item.start | date: "%b %d, %Y" }}
    {% if item.end %}<br> Finished: {{ item.start | date: "%b %d, %Y" }}{% endif %}
  </p>
        {% endif %}
  {{ item.content }}
      {% endif %}
    {% endfor %}
</div>
<ul>
    {% for item in book %}
      {% if item.metadata != true %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
  </li>
      {% endif %}
    {% endfor %}
</ul>
  {% endif %}
{% endfor %}