---
layout: page
title: Categories
---
{% assign categories = site.categories | sort %}
<section class="not-prose text-center">
  {% for category in categories %}
  <span class="highlight">
    <a href="#{{ category | first | slugify }}" class="no-underline" style="font-size: {{ category | last | size  |  times: 4 | plus: 80  }}%">
      {{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})
    </a>
  </span>
  {% endfor %}
</section>

<section>
  {% for category in categories %}
  <h2 id="{{ category[0] | slugify }}">{{ category | first }}</h2>
  <ul>
    {% for post in category[1] %}
    <li>
      <small class="highlight">{{ post.date | date_to_string: "ordinal", "US" }}</small>
      <span class="mx-2"> ~ </span>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>