---
layout: page
title: Categories
---
{% assign categories = site.categories | sort %}
<p style="text-align: center;">
  {% for cat in categories %}
  <span class="site-tag capitalize">
    <a href="#{{ cat | first | slugify }}" style="font-size: {{ cat | last | size  |  times: 4 | plus: 80  }}%">
      {{ cat[0] | replace:'-', ' ' }} ({{ cat | last | size }})
    </a>
  </span>
  {% endfor %}
</p>
{% for cat in categories %}
<div id="{{ cat[0] | slugify }}"></div>
<h2 class="liner">{{ cat[0] }}</h2>
<ul>
  {% for post in cat[1] %}
  <li>
    <span class="badge">{{ post.date | date_to_string: "ordinal", "US" }}</span>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
