---
layout: page
---
{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
{%- if posts.size > 0 -%}
  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
{%- for post in posts -%}
<div class="card">
  {% if post.image %}<img src="{{ post.image }}" alt="Post Image">{% endif %}
  <div class="card-body">
    <h3 class="card-title">{{ post.title | escape }}</h3>
    <p class="card-subtitle">{{ post.date | date: date_format }}</p>
    <p class="card-text">{{ post.content | truncatewords: 50 | strip_html }}</p>
    <a class="card-link" href="{{ post.url | relative_url }}">Read More</a>
  </div>
</div><br><br>
{%- endfor -%}
{% if site.paginate %}
<div class="row flex-center">
{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="paper-btn">&larr; Previous</a>
{% endif %}
  <span class="badge margin-large">
    Page: <br>{{ paginator.page }} of {{ paginator.total_pages }}
  </span>
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="paper-btn">Next &rarr;</a>
{% endif %}
</div>
{%- endif %}{%- endif -%}