---
layout: default
title: Home
---
<!-- Header -->
<header class="vh-100 dt w-100 cover bg-center" style="background-image: url({{ site.logo | relative_url }})">
  <div class="dtc v-mid tc ph3 ph4-l bg-black-80">
    <h1 class="mt2 mb0 i fw1 f2 soft-gold">
      {{ site.title }}
    </h1>
    <h2 class="mt2 mb0 f6 fw4 ttu tracked soft-gold">
      {{ site.tagline }}
    </h2>
    <nav class="bt bb b--soft-gold tc mw7 center mt4">
      {% for link in site.data.nav %}
      <a class="f6 f5-l link bg-animate soft-gold dim dib pa3 ph4-l" href="{{ link.url | relative_url }}">
        {{ link.title }}
      </a>
      {% endfor %}
    </nav>
    <p class="measure f4 fw1 lh-copy center">
      {{ site.description }}
    </p>
  </div>
</header>

{% for world in site.worlds %}
<section class="vh-100 dt w-100 tc cover" style="background:url({{ world.image | relative_url }}) no-repeat center;">
  <div class="dtc v-mid bg-black-80">
    <h1 class="f1 f-headline-l fw1 i soft-gold">{{ world.title }}</h1>
    <p class="measure f4 fw1 lh-copy center">
      {{ world.description }}
    </p>
    <a class="f6 link dim ph3 pv2 mt4 dib deep-indigo bg-soft-gold" href="{{ world.url | relative_url }}">
      Explore {{ world.title }}
    </a>
  </div>
</section>
{% endfor %}
