---
layout: page
title: Tags
---
{% assign tags = site.tags | sort %}
<section class="not-prose text-center">
  {% for tag in tags %}
  <span class="highlight">
    <a href="#{{ tag | first | slugify }}" class="no-underline" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
      {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
  </span>
  {% endfor %}
</section>

<section>
  {% for tag in tags %}
  <div id="{{ tag[0] | slugify }}"></div>
  <h2>{{ tag | first }}</h2>
  <ul>
    {% for post in tag[1] %}
    <li>
      <small class="highlight">{{ post.date | date_to_string: "ordinal", "US" }}</small>
      <span class="mx-2"> ~ </span>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>