<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicons/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/favicons/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ 'assets/favicons/safari-pinned-tab.svg' | relative_url }}" color="#000000">
  <link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="{{ 'assets/favicons/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets-->
  <link rel="stylesheet" href="{{ 'assets/css/paper.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">

  <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>
  <div class="row">
    <div class="sm-5 md-3 col">
      <div class="paper">
        {% if site.logo %}<img src="{{ site.logo | relative_url }}" alt="Site logo">{% endif %}
        <div class="card-body">
          <h3>{{ site.title }}</h3>
          {% if site.subtitle %}<h4>{{ site.subtitle }}</h4>{% endif %}
          {% if site.description %}<p>{{ site.description }}</p>{% endif %}
          <div style="text-align: center;">
            {% for link in site.data.nav %}
            <a href="{{ link.url }}" class="paper-btn margin-bottom-small">{{ link.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="top" class="col-fill col">
      <div class="paper">
        {{ content }}
        <hr id="bottom">
      </div>
    </div>
    <div class="sm-12 md-3 col">
      <div class="paper margin-bottom" style="text-align: center;">
        <h3 style="text-align: center;">Categories</h3>
        {% assign categories = site.categories | sort %}{% for cat in categories %}
        <a href="{{ 'categories' | relative_url }}#{{ cat | first | slugify }}"
          class="paper-btn btn-small margin-bottom-small capitalize">
          {{ cat[0] | replace:'-', ' ' }} <span class="badge">{{ cat | last | size }}</span>
        </a>
        {% endfor %}
      </div>
      <div class="paper margin-bottom" style="text-align: center;">
        <h3 style="text-align: center;">Tags</h3>
        {% assign tags = site.tags | sort %}{% for tag in tags %}
        <a href="{{ 'tags' | relative_url }}#{{ tag | first | slugify }}"
          class="paper-btn btn-small margin-bottom-small">
          {{ tag[0] | replace:'-', ' ' }} <span class="badge">{{ tag | last | size }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="to-top">
      <a href="#top" class="paper-btn margin">▲</a>
    </div>
    <div class="to-bottom">
      <a href="#bottom" class="paper-btn margin">▼</a>
    </div>
  </div>
  <script type="text/javascript">
    // Hack: Replace page-link with "Page Title"
    document.querySelectorAll( ".markdown-body a[title]" ).forEach( ( a ) => {
      a.innerText = a.title;
    } );
    // Hack: Remove .md extension from wikilinks to get the html in jekyll
    document.querySelectorAll( "a" ).forEach( l => {
      if ( l.href.endsWith( '.md' ) ) {
        l.href = l.href.substring( 0, l.href.length - 3 )
      }
    } )
  </script>
</body>

</html>
