---
layout: page
title: Categories
---
<div style="text-align: center;">
  {% assign categories = site.categories | sort %}
  {% for cat in categories %}
  <a href="#{{ cat[0] | slugify }}" class="margin-small capitalize"
    style="font-size: {{ cat | last | size  |  times: 4 | plus: 80  }}%">
    {{ cat[0] }} <span class="badge">{{ cat | last | size }}</span>
  </a>
  {% endfor %}
</div>

{% for cat in categories %}
<h2 id="{{ cat[0] | slugify }}" class="capitalize">
  {{ cat[0] }}
</h2>
<ol>
  {% for post in cat[1] %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="badge">{{ post.date | date: "%B %-d, %Y" }}</span>
  </li>
  {% endfor %}
</ol>
{% endfor %}
