---
layout: base
---
<h1 style="text-align: center;">{{ page.title }}</h1>

{{ content }}

<hr>
<div class="row flex-spaces tabs">
  {% assign bubbles = site.pages | sort: "url" %}
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Study Notes</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Prose</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Worldbuilding</label>

  <div class="content" id="content1">
    <ul>
      {% for p in bubbles %}{% if p.parent == "study-notes" %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
      </li>
      {% endif %}{% endfor %}
    </ul>
  </div>
  <div class="content" id="content2">
    <ul>
      {% for p in bubbles %}{% if p.parent == "prose" %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
      </li>
      {% endif %}{% endfor %}
    </ul>
  </div>
  <div class="content" id="content3">
    <ul>
      {% for p in bubbles %}{% if p.parent == "world" %}
      <li>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
      </li>
      {% endif %}{% endfor %}
    </ul>
  </div>
</div>
