<link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico">

<link rel="apple-touch-icon-precomposed" href="/assets/favicons/write-document-icon-152-116083.png">

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/assets/favicons/write-document-icon-144-116083.png">

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicons/write-document-icon-152-116083.png">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicons/write-document-icon-144-116083.png">

<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicons/write-document-icon-120-116083.png">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicons/write-document-icon-114-116083.png">

<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicons/write-document-icon-72-116083.png">

<link rel="apple-touch-icon-precomposed" href="/assets/favicons/write-document-icon-57-116083.png">

<link rel="icon" href="/assets/favicons/write-document-icon-32-116083.png" sizes="32x32">
