<head>
  <!-- Basic page needs -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  {% seo %}
  {% feed_meta %}
  
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/favicons/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/favicons/safari-pinned-tab.svg' | relative_url }}" color="#6246ea">
  <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#d1d1e9">
  <meta name="msapplication-config" content="{{ '/assets/favicons/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#d1d1e9">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ '/assets/css/kaleidoscope.css' | relative_url }}">
  
  <!-- FontAwesome -->
  <link href="{{ '/assets/fontawesome/css/fontawesome.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/fontawesome/css/solid.min.css' | relative_url }}" rel="stylesheet">
  
  <!-- Begin selecting skin -->
  <script type="text/javascript">
    const hour = (new Date()).getHours();
      var element = document.documentElement;
      if (hour >= 5 && hour < 7) {
        element.classList.add("morning");
      } else if (hour >= 7 && hour < 17) {
        element.classList.add("day");
      } else if (hour >= 17 && hour < 19) {
        element.classList.add("evening");
      } else {
        element.classList.add("night");
      }
  </script>
  <!-- End selecting skin -->
</head>