<section class="post">
  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-meta pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        {{ post.date | date: "%b %d, %y" }}
        <svg id="i-clock" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %}
          1 min read.
        {% else %}
          {{ words | divided_by:180 }} mins read.
        {% endif %}
      </div>
      {% if post.category %}
      <div class="pure-u-1 pure-u-md-1-2">
        <a class="capitalize" href="{{ '/categories.html' | relative_url }}#{{ post.category | slugify }}">
          {{ post.category | replace: "-", " " }}
        </a>
      </div>
      {% endif %}
    </div>
  </header>

  <div class="post-description">
    {{ post.content | truncate: 280 }} <a href="{{ post.url }}">Read more.</a>
  </div>
  
  {% if post.tags %}
  <p style="text-align: right;">
    {% for tag in post.tags %}
    <a href="{{ '/tags.html' | relative_url }}#{{ tag | slugify }}">
      #{{ tag }}
    </a>
    {% endfor %}
  </p>
  {% endif %}
</section>