<h3 style="text-align: center;">Collections</h3>
<p class="liner">Categories</p>
<ul>
  {% for cat in site.categories %}
  <li>
    <a href="{{ site.baseurl }}/categories/#{{ cat[0] | slugify }}" class="capitalize">
      {{ cat[0] }}
    </a>
  </li>
  {% endfor %}
</ul>
<p style="text-align: right;">
  <a href="{{ site.baseurl }}/categories/">
    View all categories
  </a>
</p>
<p class="liner">Tags</p>
<ul>
  {% for tag in site.tags limit: 5 %}
  <li>
    <a href="{{ site.baseurl }}/tags/#{{ tag[0] | slugify }}">
      {{ tag[0] }}
    </a>
  </li>
  {% endfor %}
</ul>
<p style="text-align: right;">
  <a href="{{ site.baseurl }}/tags/">
    View all tags
  </a>
</p>
<p class="liner">Garden</p>
<ul>
  {% assign folders = site.pages | where_exp:"item", "item.path contains 'garden'" %}
  {% assign gardenfolders = "" | split: "" %}

  {% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign gardenfolders = gardenfolders | push: tempvar[1] %}
  {% endfor %}

  {% assign gardenfolders = gardenfolders | uniq | sort %}
  {% for folder in gardenfolders limit: 5 %}
  {% unless folder contains 'md' or folder contains 'html' %}
  <li>
    {% if folder.state %}{{ folder.state }} {% endif %}
    <a href="{{ site.baseurl }}/garden/{{ folder }}/" class="capitalize">
      {{ folder | replace: "-", " " }}
    </a>
  </li>
  {% endunless %}{% endfor %}
  <p style="text-align: right;">
    <a href="{{ '/garden/' | relative_url }}">
      View entire garden
    </a>
  </p>
</ul>

{% for collection in site.collections %}{% if collection.size > 1 %}
<p class="liner">
  {{ collection.label }}
</p>
<ul>
  {% assign docs = collection.docs | sort: "last_modified_at_timestamp" | reverse %}
  {% for doc in docs limit: 5 %}
  <li>
    <a href="{{ doc.url }}">
      {{ doc.last_modified_at | date: "%Y-%m-%d" }} — <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    </a>
  </li>
  {% endfor %}
</ul>
<p style="text-align: right;">
  <a href="{{ site.baseurl }}/{{ collection.label | slugify }}/">
    View all {{ collection.label | replace: "-", " " }}
  </a>
</p>
{% endif %}{% endfor %}
