/* choose colors from https://tachyons.io/docs/themes/skins/ */
body {
  /* Default colors */
  --background-color: #FFDFDF;
  --text-color: #FF4136;
  --link-color: #5E2CA5;
  --button-color: #FBF1A9;
  --button-text-color: #137752;
}

body.dark-mode {
  /* Dark theme */
  --background-color: #111111;
  --text-color: #FF725C;
  --link-color: #357EDD;
  --button-color: #FF6300;
  --button-text-color: #000000;
}

/*
Just in case the viewers system theme is a dark theme.
These are the same settings from above, just switched.
Go ahead, copy and paste.
*/
@media (prefers-color-scheme: dark) {
  /* Dark theme */
  body {
    --background-color: #111111;
    --text-color: #FF725C;
    --link-color: #357EDD;
    --button-color: #FF6300;
    --button-text-color: #000000;
  }
  /* Light theme */
  body.light-mode {
    --background-color: #FFDFDF;
    --text-color: #FF4136;
    --link-color: #5E2CA5;
    --button-color: #FBF1A9;
    --button-text-color: #137752;
  }
}