nav.breadcrumb {
  ol {
    padding-left: 0;
  }

  li {
    display: inline;

    a {
      font-size: 1.4rem;
      color: var(--card-text-color-tertiary);
    }
    
    &:not(:last-child)::after {
      content: "→";
      color: var(--card-text-color-tertiary);
    }

    &:last-child::after {
      content: "↴";
      color: var(--card-text-color-tertiary);
    }
  }
}
