{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ if and (isset .Params "image") .Params.image }}
{{ $image := .Page.Resources.GetMatch .Params.image }}
{{ with $image }}
{{ $thumb := .Resize "1000x" }}
{{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image">` $thumb.RelPermalink .Title | safeHTML }}
{{end}}
{{ end }}

{{ .Content }}

<hr>
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
    {{ if and (isset .Params "image") .Params.image }}
    <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $title := .Title }}
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
        {{ $thumb := .Resize "400x" }}
        <figure style="margin: 0;">
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            <figcaption>{{ $title }}</figcaption>
        </figure>
        {{end}}
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}
