:root {
  --nav-text-color: #000000;
  --nav-background-color: #ffffff;
  --footer-background-color: #ffffff;
  --footer-text-color: #000000;
  --hero-text-color: #ffffff;
}

body {
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  border: 3px solid #000000;
  border-radius: 1.5rem;
  padding: 2%;
  margin-bottom: 5%;
  color: var(--nav-text-color);
  background-color: var(--nav-background-color);
  text-align: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero {
  border: 3px solid #000000;
  display: flex;
  height: 85vh;
  border-radius: 1.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
  color: var(--hero-text-color);
  text-align: center;
}

footer {
  border: 3px solid #000000;
  border-radius: 1.5rem;
  padding: 2% 10%;
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
  text-align: center;
}

@media (max-width: 768px) {
  .hero {
    margin: 0;
  }
}
