:root {
  --padding-sm: clamp(1rem, 3%, 1.5rem);
  --padding-md: clamp(1.5rem, 6%, 3rem);
  --padding-lg: clamp(3rem, 12%, 6rem);
  --block-flow-sm: min(2rem, 4vh);
  --block-flow-md: min(4rem, 8vh);
  --block-flow-lg: min(8rem, 16vh);

  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #000000;
  --nav-text-color: #000000;
  --nav-background-color: #ffffff;
  --footer-background-color: #ffffff;
  --footer-text-color: #000000;
  --hero-text-color: #ffffff;
  --scrollbar-color-thumb: blue;
  --scrollbar-color-track: orange;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
}

/* Works on Chrome, Edge, and Safari */
/* Will eventually be replaced by the new syntax */
*::-webkit-scrollbar {
  width: 12px;
  /* Initial width of the scrollbar */
  transition: width 0.5s ease;
  /* Smooth transition for the scrollbar width */

}

*:hover::-webkit-scrollbar {
  width: 15px;
  /* Width of the scrollbar on hover */
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-color-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color-thumb);
  border-radius: 20px;
  border: 3px solid var(--scrollbar-color-track);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
  font-size: 16px;
}

body {
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  margin: var(--block-flow-sm);
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--block-flow-lg);
}

header {
  margin: var(--block-flow-sm);

  nav {
    border: 3px solid var(--border-color);
    border-radius: 1.5rem;
    padding: var(--padding-sm);
    color: var(--nav-text-color);
    background-color: var(--nav-background-color);
    text-align: center;
    width: fit-content;
  }
}

.hero {
  margin: var(--block-flow-sm);
  display: grid;
  /* create a single named grid area */
  grid-template-areas: "bp";

  >* {
    /* assign all direct children to the single grid area */
    grid-area: bp;
  }

  .hero__content {
    align-self: center;
    /* bring above picture when picture is last in DOM order */
    z-index: 1;
    color: var(--hero-text-color);
    text-align: center;
    font-size: clamp(1.35rem, 5vw, 1.75rem);
    font-weight: bold;
    padding: 5vh 1rem;

    h1 {
      font-size: clamp(2rem, 8vw, 3rem);
      margin: 0;
    }
  }

  :is(img, picture, .cover) {
    display: block;
  }

  img,
  .cover {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    /* decrease brightness to improve text contrast */
    filter: brightness(0.65) saturate(1.25);
    border: 3px solid var(--border-color);
    border-radius: 1.5rem;
  }

  .cover {
    background-color: var(--background-color);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(min(100%, 20ch), 1fr));
  gap: var(--block-flow-sm);

  .card {
    width: 100%;
    margin: 0;
  }
}

section {
  border: 3px solid var(--border-color);
  border-radius: 1.5rem;
  margin: var(--block-flow-sm);
  padding: var(--padding-sm);
  color: var(--section-text-color);
  background-color: var(--section-background-color);
}

.heading-group {
  margin-top: 1em;

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
  }
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  /* Hero header with dynamic scaling */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  /* Primary section headers */
}

h3 {
  font-size: 1.5rem;
  /* Secondary headers, consistent with global rem */
}

h4 {
  font-size: 1.25rem;
  /* Tertiary headers, consistent with global rem */
}

h5 {
  font-size: 1.125rem;
  /* Quaternary headers, consistent with global rem */
}

h6 {
  font-size: 1rem;
  /* Quinary headers, consistent with global rem */
}

p {
  font-size: clamp(1rem, 3vw, 1.75rem);
  /* Paragraphs, consistent with global rem */
  text-indent: 1rem;
}

.text-small {
  font-size: 0.875rem;
  /* Small text, consistent with global rem */
  text-indent: 0;
}


.content {
  margin: var(--block-flow-md);

  img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    margin: auto;
    display: block;
  }
}

footer {
  margin: var(--block-flow-sm);

  p {
    border: 3px solid var(--border-color);
    border-radius: 1.5rem;
    padding: var(--padding-sm);
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    text-align: center;
    width: fit-content;
  }
}
