:root { scroll-behavior: smooth; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  /* Skin colors */
  --purple: #581c87;
  --rose: #fb7185;
  --blue: #60a5fa;
  --sky: #38bdf8;
  --sun: #fdba74;
  --indigo: #312e81;
  --slate: #0f172a;
  --neutral: #737373;
  --neutral-light: #fafafa;
  --neutral-dark: #171717;
  
  /* Default colors */
  --sidebar-color: var(--slate);
  --border-color: var(--neutral-light);
  --text-color: var(--neutral-light);
  --text-secondary-color: var(--neutral);
  --link-color: var(--blue);
  
  background: var(--neutral);
  color: var(--text-color);
}

html.sunrise {
  --sidebar-color: linear-gradient(var(--purple), var(--rose));
  --border-color: var(--neutral-light);
  --text-color: var(--neutral-light);
  --text-secondary-color: var(--slate);
  --link-color: var(--sun);
  
  --scrollbar-track: var(--blue);
  --scrollbar-thumb: var(--rose);
  --scrollbar-hover: var(--purple);
  
  background: linear-gradient(var(--rose), var(--blue));
}
html.day {
  --sidebar-color: linear-gradient(var(--blue), var(--sky));
  --border-color: var(--neutral-light);
  --text-color: var(--neutral-light);
  --text-secondary-color: var(--neutral-light);
  --link-color: var(--sun);

  --scrollbar-track: var(--blue);
  --scrollbar-thumb: var(--neutral-light);
  --scrollbar-hover: var(--sun);
  
  background: linear-gradient(var(--sky), var(--blue));
}
html.sunset {
  --sidebar-color: linear-gradient(var(--blue), var(--rose));
  --border-color: var(--neutral);
  --text-color: var(--neutral-dark);
  --text-secondary-color: var(--slate);
  --link-color: var(--sun);
  
  --scrollbar-track: var(--purple);
  --scrollbar-thumb: var(--rose);
  --scrollbar-hover: var(--neutral);
  
  background: linear-gradient(var(--rose), var(--purple));
}
html.night {
  --sidebar-color: linear-gradient(var(--purple), var(--indigo));
  --border-color: var(--slate);
  --text-color: var(--neutral-light);
  --text-secondary-color: var(--neutral);
  --link-color: var(--purple);

  --scrollbar-track: var(--slate);
  --scrollbar-thumb: var(--purple);
  --scrollbar-hover: var(--indigo);
  
  background: linear-gradient(var(--indigo), var(--slate));
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--scrollbar-track); }
::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb); }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-hover); }

body { font-family: 'Waiting for the Sunrise', cursive; }
#layout { margin: 0; }

h1, h2, h3 { font-family: 'Moon Dance', cursive; }
p { font-size: 1.3rem; }

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: from-font;
}

.cloud {
  text-align: center;
  margin: 15px;
}
.cloud a {
  font-weight: 600;
  display: inline-block;
}
.cloud a:not(:last-child),
.tags a:not(:last-child) { margin-right: 15px; }

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: var(--sidebar-color);
  color: var(--text-secondary-color);
  border-bottom: 2px solid var(--border-color);
}

.brand-title,
.brand-tagline { margin: 0; }
.brand-title { text-transform: uppercase; }
.brand-tagline {
  font-weight: 300;
  color: var(--text-color);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid var(--link-color);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
  padding: 0.4em 0;
  font-size: 80%;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.post-description { line-height: 1.8em; }
.post-meta {
  margin: 0;
  font-weight: 600;
  color: var(--text-secondary-color);
}
.post-meta div {
  text-align: center;
  padding: 5px;
}

.comments {
  margin: 0 15px;
}
.footer {
  text-align: center;
}


@media screen and (min-width: 64em) {
  html.sunrise {
    --sidebar-color: linear-gradient(to right, var(--purple), var(--rose));
    background: linear-gradient(to right, var(--rose), var(--blue));
  }
  html.day {
    --sidebar-color: linear-gradient(to right, var(--blue), var(--sky));
    background: linear-gradient(to right, var(--sky), var(--blue));
  }
  html.sunset {
    --sidebar-color: linear-gradient(to right, var(--blue), var(--rose));
    background: linear-gradient(to right, var(--rose), var(--purple));
  }
  html.night {
    --sidebar-color: linear-gradient(to right, var(--purple), var(--indigo));
    background: linear-gradient(to right, var(--indigo), var(--slate));
  }
  
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    border-bottom: 0;
    border-right: 2px solid var(--border-color);
  }
}