---
---

@import 'variables';
@import 'mixins';

:root {
  scroll-behavior: smooth;
  
  &.default { @include spread-map($theme-map-default); }
  &.morning {  @include spread-map($theme-map-morning); }
  &.day { @include spread-map($theme-map-day); }
  &.evening {  @include spread-map($theme-map-evening); }
  &.night { @include spread-map($theme-map-night); }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: theme-var($--card); }
::-webkit-scrollbar-thumb {
  background: theme-var($--link);
  
  &:hover { background: theme-var($--hover); }
}

body {
  font-family: 'Waiting for the Sunrise', cursive;
  background: theme-var($--background);
  color: theme-var($--paragraph);
}
#layout { margin: 0; }

h1, h2, h3 {
  font-family: 'Moon Dance', cursive;
  color: theme-var($--headline);
}
p, .content li {
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
  line-height: 1.8rem;
  
  em { text-transform: uppercase; }
}

a {
  text-decoration: none;
  color: theme-var($--link);
  
  &:hover, &:focus {
    color: theme-var($--hover);
  }
}

.cloud {
  text-align: center;
  margin: 15px;

  a {
    font-weight: 600;
    display: inline-block;
  }
}
.cloud a:not(:last-child), .tags a:not(:last-child) { margin-right: 15px; }

.pure-img-responsive {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.header {
  text-align: center;
  top: auto;
  margin: 3rem auto;
}

.sidebar {
  background: theme-var($--card);
  color: theme-var($--headline);
  border-bottom: 2px solid theme-var($--headline);
}

.brand-title, .brand-tagline { margin: 0; }
.brand-tagline {
  font-weight: 300;
  color: theme-var($--link);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

.pure-button {
  background: transparent;
  border: 2px solid theme-var($--button);
  color: theme-var($--paragraph);
  font-weight: 600;
  margin-top: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 85%;

  &:hover, &:focus {
    background: theme-var($--hover);
    color: theme-var($--paragraph);
    border: 2px solid theme-var($--button);
    text-decoration: none;
  }
}

.content {
  padding: 2rem 1rem 0;
  
  .content-subhead {
    text-transform: uppercase;
    border-bottom: 1px solid theme-var($--link);
    padding: 0.4rem 0;
    font-size: 80%;
    letter-spacing: 0.1em;
  }
  
  hr { border-color: theme-var($--link); }
}

.post {
  background: theme-var($--card);
  margin-bottom: 2rem;
  padding: 1.7rem;
  border-radius: 3px;
  
  .post-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .post-meta {
    margin: 0;
    font-weight: 600;
    color: theme-var($--headline);
  
    div {
      text-align: center;
      padding: 5px;
      letter-spacing: 0.05rem;
    }
    svg#i-clock {vertical-align: middle;}
  }
  
  .comments { margin: 25px 0; }
}

.footer {
  margin-top: 3rem;
  text-align: center;
  color: theme-var($--headline);
}

.back2top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: theme-var($--link);
  border-radius: 50px;
  text-align: center;
  
  img {
    width: 1rem;
  	height: auto;
  }
}

@media screen and (min-width: 48em) {
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .img-float {
    float: left;
    max-width: 45%;
    margin: 0 15px 15px 0;
  }
}
@media screen and (min-width: 64em) {
  .content {
    padding: 2rem 3rem 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2rem 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    border-bottom: 0;
    border-right: 2px solid theme-var($--link);
  }
}