---
---
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Playfair+Display:ital@0;1&display=swap');
@import 'variables';
@import 'mixins';

:root {
  scroll-behavior: smooth;
  font-size: 100%;
  
  &.default { @include spread-map($theme-map-default); }
  &.morning {  @include spread-map($theme-map-morning); }
  &.day { @include spread-map($theme-map-day); }
  &.evening {  @include spread-map($theme-map-evening); }
  &.night { @include spread-map($theme-map-night); }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 250ms ease-in-out
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: theme-var($--card); }
::-webkit-scrollbar-thumb {
  background: theme-var($--link);
  
  &:hover { background: theme-var($--hover); }
}

body {
  background: theme-var($--background);
  color: theme-var($--paragraph);
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
#layout {
  margin: 0;
  //background-image: url("{{ site.background }}");
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;
}

h1, h2, h3 {
  font-family: 'Fleur De Leah', cursive;
  color: theme-var($--headline);
  line-height: 1.1;
}

h1 { font-size: 2.2rem; }

h2 { font-size: 1.8rem; }

h3 { font-size: 1.5rem; }

p { font-size: 1.2rem; }

a {
  text-decoration: none;
  color: theme-var($--link);
  
  &:hover, &:focus { color: theme-var($--hover); }
}

blockquote {
  background: theme-var($--background);
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 75%;
  max-width: 500px;
  border: solid 2px theme-var($--link);
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 theme-var($--background),
              15px 15px 0 0 theme-var($--link),
              15px 11px 0 0 theme-var($--link),
              11px 15px 0 0 theme-var($--link);

  cite {
    float: right;
    &:before {
      content: "~";
      margin-right: 5px;
    }
  }
  
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.capitalize { text-transform: capitalize; }

.cloud {
  text-align: center;
  margin: 15px;

  a {
    font-weight: 600;
    display: inline-block;
  }
}
.cloud a:not(:last-child), .tags a:not(:last-child) { margin-right: 15px; }

.pure-img-responsive {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.header {
  text-align: center;
  top: auto;
  margin: 3rem auto;
}

.sidebar {
  background: theme-var($--card);
  color: theme-var($--headline);
  border-bottom: 2px solid theme-var($--headline);
}

.brand-title, .brand-tagline { margin: 0; }
.brand-tagline {
  font-weight: 300;
  color: theme-var($--link);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

.pure-button {
  background: theme-var($--button);
  border: 2px solid theme-var($--hover);
  color: theme-var($--paragraph);
  font-weight: 600;
  margin-top: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 85%;

  &:hover, &:focus {
    background: theme-var($--hover);
    color: theme-var($--paragraph);
    border: 2px solid theme-var($--button);
    text-decoration: none;
  }
}

.content {
  //background: theme-var($--card);
  padding: 2rem 1rem 0;
  
  .content-subhead {
    text-transform: uppercase;
    border-bottom: 1px solid theme-var($--link);
    margin-bottom: 1rem;
    padding: 0.4rem 0;
    font-size: 80%;
    letter-spacing: 0.1em;
  }
  
  hr {
    border-color: theme-var($--link);
    max-width: 60ch;
  }
}

.post {
  background: theme-var($--card);
  margin: auto;
  margin-bottom: 2rem;
  padding: 1.7rem;
  border-radius: 3px;
  max-width: 75ch;
  
  h2, h3 { text-align: center; }
  
  .toc {
    background: theme-var($--background);
    padding: 10px 25px;
    border: 1px solid theme-var($--button);
    border-radius: 3px;
    
    .title {
      text-align: center;
      font-weight: 600;
    }
  }
  
  .nav {
    text-align: center;
    margin: 2rem 0;
  }
  
  .related-posts {
    display: flex;
    justify-content: center;
  
    .cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 10px;
      
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: theme-var($--background);
        //color: theme-var($--paragraph);
        height: auto;
        border-radius: 5px;
        padding: 1rem;
        
        .card-content {
          display: block;
        }
      }
    }
  }
}

.post-header { margin-bottom: 1rem; }

.post-title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.post-meta {
  margin: 15px 0;
  font-weight: 600;
  color: theme-var($--headline);

  div {
    text-align: center;
    padding: 5px;
    letter-spacing: 0.05rem;
  }
  svg#i-clock {vertical-align: middle;}
}

.comments {
  background: theme-var($--card);
  border-radius: 3px;
  margin: auto;
  max-width: 80ch;
}

.footer {
  background: theme-var($--card);
  margin-top: 2rem;
  padding: 1.7rem;
  border-radius: 3px;
  text-align: center;
  color: theme-var($--headline);
}

.back2top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: theme-var($--link);
  border-radius: 50px;
  text-align: center;
  
  img {
    width: 1rem;
  	height: auto;
  }
}

@media screen and (min-width: 48em) {
  .clearfix:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .float {
    float: left;
    max-width: 45%;
    margin: 0 15px 15px 0;
  }
}
@media screen and (min-width: 64em) {
  .content {
    padding: 2rem 3rem 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2rem 0;
    text-align: right;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    border-bottom: 0;
    border-right: 2px solid theme-var($--link);
  }
}