/* Bible Verses in preview */
.markdown-preview-view h6,
.cc-pretty-preview .markdown-preview-view h6
{
  position: relative;
  left: -3%;
  top: 26px;
  line-height: 0px;
  margin-top: -20px;
  margin-right: 3px;
  font-family: var(--font-family-preview);
  font-weight: 500;
  font-size: 10px;
  font-weight: bold;
  color: var(--text-faint) !important;
}

/* Embedding Bible verses */
div.markdown-embed .markdown-preview-view h6 {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0px;
  }

.markdown-preview-view .markdown-embed-content p:first-child {
    margin: 1px;
    top: 10px;
}
