/* Task heading design changes */
h4.tasks-group-heading {
    margin-bottom:.5em;
    border-bottom: 1px dashed currentColor;
}

h4.tasks-group-heading p {
    margin-bottom: 0.1em;
}   

h4.tasks-group-heading + ul {
    margin-top: 0;
}

/* Hide due date */
.contains-task-list .task-list-item .task-due {
    display: none;
}

/* Checkbox numbers */
.task-list-item-checkbox::after {
    font-size: 0.7em;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    top: .25em;
    color: var(--checkbox-border-color);
    opacity: 0.8;
}

.contains-task-list .task-list-item[data-task-due="future-7d"] .task-list-item-checkbox::after { content: "7" }
.contains-task-list .task-list-item[data-task-due="future-6d"] .task-list-item-checkbox::after { content: "6" }
.contains-task-list .task-list-item[data-task-due="future-5d"] .task-list-item-checkbox::after { content: "5" }
.contains-task-list .task-list-item[data-task-due="future-4d"] .task-list-item-checkbox::after { content: "4" }
.contains-task-list .task-list-item[data-task-due="future-3d"] .task-list-item-checkbox::after { content: "3" }
.contains-task-list .task-list-item[data-task-due="future-2d"] .task-list-item-checkbox::after { content: "2" }
.contains-task-list .task-list-item[data-task-due="future-1d"] .task-list-item-checkbox::after { content: "1" }
.contains-task-list .task-list-item[data-task-due="today"] .task-list-item-checkbox::after { content: "!"; }
.contains-task-list .task-list-item[data-task-due="past-1d"] .task-list-item-checkbox::after { content: "!" }
.contains-task-list .task-list-item[data-task-due="past-2d"] .task-list-item-checkbox::after,
.contains-task-list .task-list-item[data-task-due="past-3d"] .task-list-item-checkbox::after,
.contains-task-list .task-list-item[data-task-due="past-4d"] .task-list-item-checkbox::after,
.contains-task-list .task-list-item[data-task-due="past-5d"] .task-list-item-checkbox::after,
.contains-task-list .task-list-item[data-task-due="past-6d"] .task-list-item-checkbox::after { content: "!!" }
.contains-task-list .task-list-item[data-task-due="past-7d"] .task-list-item-checkbox::after,
.contains-task-list .task-list-item[data-task-due="past-far"] .task-list-item-checkbox::after { content: "!!!" }
.contains-task-list .task-list-item[data-task-done] .task-list-item-checkbox::after { content: "" }

/* Checkbox colors */
.task-list-item[data-task-due="future-far"] .task-list-item-checkbox,
.task-list-item[data-task-due="future-7d"] .task-list-item-checkbox,
.task-list-item[data-task-due="future-6d"] .task-list-item-checkbox,
.task-list-item[data-task-due="future-5d"] .task-list-item-checkbox { --checkbox-border-color: var(--color-purple) }
.task-list-item[data-task-due="future-4d"] .task-list-item-checkbox,
.task-list-item[data-task-due="future-3d"] .task-list-item-checkbox { --checkbox-border-color: var(--color-cyan) }
.task-list-item[data-task-due="future-2d"] .task-list-item-checkbox,
.task-list-item[data-task-due="future-1d"] .task-list-item-checkbox { --checkbox-border-color: var(--color-blue) }
.task-list-item[data-task-due="today"] .task-list-item-checkbox { --checkbox-border-color: var(--color-pink ) }
.task-list-item[data-task-due="past-1d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-2d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-3d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-4d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-5d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-6d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-7d"] .task-list-item-checkbox,
.task-list-item[data-task-due="past-far"] .task-list-item-checkbox { --checkbox-border-color: var(--color-red) }
.task-list-item-checkbox:hover { --checkbox-border-color: var(--color-green) !important; }

/* Text */
.task-list-item[data-task-due="future-far"] span,
.task-list-item[data-task-due="future-7d"] span,
.task-list-item[data-task-due="future-6d"] span,
.task-list-item[data-task-due="future-5d"] span { color: var(--color-purple) }
.task-list-item[data-task-due="future-4d"] span,
.task-list-item[data-task-due="future-3d"] span { color: var(--color-cyan) }
.task-list-item[data-task-due="future-2d"] span,
.task-list-item[data-task-due="future-1d"] span { color: var(--color-blue) }
.task-list-item[data-task-due="today"] span { color: var(--color-pink ) }
.task-list-item[data-task-due="past-1d"] span,
.task-list-item[data-task-due="past-2d"] span,
.task-list-item[data-task-due="past-3d"] span,
.task-list-item[data-task-due="past-4d"] span,
.task-list-item[data-task-due="past-5d"] span,
.task-list-item[data-task-due="past-6d"] span,
.task-list-item[data-task-due="past-7d"] span,
.task-list-item[data-task-due="past-far"] span { color: var(--color-red) }
