{{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
<div class="post">
  <div class="date">{{ .PublishDate.Format "2 Jan '06" }}</div>
  <h1>
    <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
  </h1>
  {{ if .Lastmod }}<div class="date">Updated:<br>{{ .Lastmod.Format "2 Jan '06" }}</div>{{ end }}
  {{ .Summary }}
  {{ if .Params.tags }}
  <div style="text-align: right;">
    Tags: {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}
    <a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}">{{ $tag }}</a>{{ end }}
  </div>
  {{ end }}
</div>
<hr>
{{ end }}
