{{ define "main" }}

<h1>About</h1>

<div class="terminal-media">
  <div class="terminal-media-left">
    <div class="terminal-avatarholder">
      <img src="{{ relURL "images/logo-full-background.jpg" }}" alt="site logo">
    </div>
  </div>
  <div class="terminal-media-body">
    <div class="terminal-media-content">
      My public virtual space for expressing and sharing my ideas. <a href="about/">(more)</a>
    </div>
  </div>
</div>
<br />

<h1>Latest posts</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/posts" }}
  {{- partial "posts-list.html" . -}}
  {{ end }}
</div>

<h1>Latest in prose</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/prose" }}
  {{- partial "posts-list.html" . -}}
  {{ end }}
</div>

<h1>Latest in character development</h1>

<div class="image-grid">
  {{ with .Site.GetPage "/characters" }}
  {{- partial "gallery-list.html" . -}}
  {{ end }}
</div>

<h1>Latest in worldbuilding</h1>

<div class="image-grid">
  {{ with .Site.GetPage "/worlds" }}
  {{- partial "gallery-list.html" . -}}
  {{ end }}
</div>

{{ end }}
