{{ define "main" }}

<h1>About</h1>

<div class="terminal-media">
  <div class="terminal-media-left">
    <div class="terminal-avatarholder">
      <img src="{{ relURL "images/logo-full-background.jpg" }}" alt="site logo">
    </div>
  </div>
  <div class="terminal-media-body">
    <div class="terminal-media-content">
      My public virtual space for expressing and sharing my ideas. <a href="about/">(more)</a>
    </div>
  </div>
</div>
<br />

<h1>Latest posts</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/posts" }}
  {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
  <div class="post">
    <p>
    <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
    <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
    {{ .Summary }}
    </p>
  </div>
  {{ end }}
  {{ end }}
</div>

<h1>Latest in prose</h1>

<div class="posts-list">
  {{ with .Site.GetPage "/prose" }}
  {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
  <div class="post">
    <p>
    <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
    <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
    {{ .Summary }}
    </p>
  </div>
  {{ end }}
  {{ end }}
</div>

<h1>Latest in character development</h1>

<div class="image-grid">
  {{ with .Site.GetPage "/characters" }}
  {{ range first 3 (sort .Data.Pages "Date" "desc")}}
  <a href="{{ .Permalink }}" title="{{ .Title }}">
    {{ $title := .Title }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
    {{ $thumb := .Resize "400x" }}
    <figure style="margin: 0;">
      <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
      <figcaption>{{ $title }}</figcaption>
    </figure>
    {{end}}
  </a>
  {{ end }}
  {{ end }}
</div>

<h1>Latest in worldbuilding</h1>

<div class="image-grid">
  {{ with .Site.GetPage "/worlds" }}
  {{ range first 3 (sort .Data.Pages "Date" "desc")}}
  <a href="{{ .Permalink }}" title="{{ .Title }}">
    {{ $title := .Title }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
    {{ $thumb := .Resize "400x" }}
    <figure style="margin: 0;">
      <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
      <figcaption>{{ $title }}</figcaption>
    </figure>
    {{end}}
  </a>
  {{ end }}
  {{ end }}
</div>

{{ end }}
