<br/>
<script id="diffblog-plugin-script" async="false" src="https://diff.blog/static/js/diffblog_plugin_v1.js"></script> 
<script>
  document.getElementById("diffblog-plugin-script").addEventListener("load", function () {
    DiffBlog(
      "q7f864hffi8m218eaq6d623sezfgkz1vzfva4oxjeyxq9l2dwp"
    );
  });
</script>