<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  {% seo %}

  {% feed_meta %}
  
  <link rel="stylesheet" href="{{ '/assets/css/paper.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/favicons/site.webmanifest' | relative_url }}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&family=Cinzel&display=swap">
  
  <script src="https://kit.fontawesome.com/42f6f50d63.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="border split-nav">
    <div class="nav-brand">
      <h3><a href="/">{{ site.title }}</a></h3>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
          <li><a href="{{ '/friends.html' | relative_url }}">Friends</a></li>
          <li><a href="{{ '/books.html' | relative_url }}">Books</a></li>
          <li><a href="{{ '/tags.html' | relative_url }}">Tags</a></li>
          <li><a href="{{ '/archive.html' | relative_url }}">Archive</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    {{ content }}
  </div>
  
</body>
</html>