---
layout: page
---
{{ content }}
 
{% assign book-chapters = site[page.collection] %}
{% for chapter in book-chapters %}
  {% if chapter.url == page.url %}
    {% assign prev_page_index = forloop.index | minus: 1 %}
    {% assign curr_page_index = forloop.index %}
    {% assign next_page_index = forloop.index | plus: 1 %}
  {% endif %}
{% endfor %}
<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <span class="pure-button" disabled>
        {% if book-chapters.size > 1 %}Chapter <strong>{{ curr_page_index }}</strong> of <strong>{{ book-chapters.size }}</strong>{% else %}More chapters coming soon!{% endif %}
      </span>
    </li>
    {% for chapter in book-chapters %}
    {% if prev_page_index == forloop.index %}
    <li class="nav-item">
      <a class="pure-button" href="{{ chapter.url | relative_url }}">Prev</a>
    </li>
    {% endif %}{% if next_page_index == forloop.index %}
    <li class="nav-item">
      <a class="pure-button" href="{{ chapter.url | relative_url }}">Next</a>
    </li>
    {% endif %}{% endfor %}
  </ul>
</nav>

<div class="toc">
  <div class="title">
    This post is part of <a class="capitalize" href="{{ '/books.html' | relative_url }}#{{ page.collection }}"><em>{{ page.collection | replace: '-', ' ' }}</em></a>
  </div>
  <ul>
  {% assign book = site[page.collection] %}
  {% for item in book %}
    <li>
      {% if item.url == page.url %}
      <strong>{{ item.title }}</strong>
      {% else %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>