<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ '/assets/css/tachyons.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-96x96.png' | relative_url }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicons/favicon.svg' | relative_url }}" />
  <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}" />
</head>

<body class="bg-black">
  {{ content }}
  {% include footer.html %}
</body>

</html>
