---
layout: page
---

{% assign folderfilter = page.path | replace: "/index.md" , "" %}

{% assign path = page.path | split:"/" %}

<div class="markdown-body">
  {{ content }}
</div>

{% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | sort: "pinned" | reverse %}

<h3>Notes:</h3>

<ul>
  {% for item in notes %}{% unless item.url == page.url %}
  <li{%if item.pinned %} class="pinned" {% endif %}>
    {% if item.state %}<span class="emoji-state">{{ item.state }}</span>{% endif %}
    <a href="{{ item.url }}" class="wiki-link">
      {{ item.title }}
    </a>
  </li>
  {% endunless %}{% endfor %}
</ul>
