---
layout: page
---

{% assign folderfilter = page.path | replace: "/index.md" , "" %}

{% assign path = page.path | split:"/" %}

<div class="markdown-body">
  {{ content }}
</div>

<h2>Notes:</h2>
{% assign pinned_notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | where: "pinned", true | sort: "state" | reverse %}
<ul>
  {% for item in pinned_notes %}{% unless item.url == page.url %}
  <li class="pinned">
    <span class="emoji-state">{{ item.state }}</span>
    <a href="{{ item.url }}" class="wiki-link">
      {{ item.title }}
    </a>
  </li>
  {% endunless %}{% endfor %}
</ul>
{% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | where: "pinned", false | sort:
"state" | reverse %}
<ul>
  {% for item in notes %}{% unless item.url == page.url %}
  <li>
    {% if item.state %}<span class="emoji-state">{{ item.state }}</span>{% endif %}
    <a href="{{ item.url }}" class="wiki-link">
      {{ item.title }}
    </a>
  </li>
  {% endunless %}{% endfor %}
</ul>
