---
layout: default
title: Recent Posts
---
{{ content }}
{% assign pinned_posts = site.posts | where: "pinned","true" %}
{% if pinned_posts.size > 0 %}
<div class="content-subhead">Pinned Posts</div>
<div class="posts">
  {% for post in pinned_posts %}
    {% include posts-list.html %}
  {% endfor %}
</div>

{% endif %}

<div class="content-subhead">Recent Posts</div>
{% assign posts = site.posts | where: "pinned", null %}
<div class="posts">
  {% for post in posts limit: page.limit %}
    {% include posts-list.html %}
  {% endfor %}
</div>


<div style="text-align: center;">
  <a class="pure-button" href="{{ '/archive.html' | relative_url }}">All Posts</a>
</div>