---
layout: default
---
{% include breadcrumb.html %}

<article class="article">
  <h1 class="article-title">{{ page.state }} {{ page.title }}</h1>
  <p class="article-meta">
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
      Last updated on {{ page.last_modified_at | date_to_string: "ordinal", "US" }}
    </time>
  </p>
  {% if page.description %}
  <p class="text-lead">
    {{ page.description }}
  </p>
  {% endif %}
  <hr>
  <div class="markdown-body">
    {{ content }}
  </div>
  
</article>
