---
layout: base
---
<div class="row">
  <div class="sm-12 md-4 col">
    <div class="paper">
      <img src="https://www.gravatar.com/avatar/8305681be23372ec3c774233546f849f?s=500">
      <h3>Yoela Olson</h3>
      <p>I'm a homeschooled, Christian student who is struggling to stay motivated and finish things.</p>

      <p>I love Jesus, DIYing (crochet, knitting, macrame, paracord, been there done that), reading, writing (I'm currently writing three stories), horses, and anything Linux (I'm not a complete tech geek but I definitely see myself getting there).</p>

      <p>I'm very social, which isn't a very good thing since I trust people too easily wink, but I'm getting better. I open my mouth a lot before thinking, but as I said, I'm getting better. I procrastinate way too much but prayerfully I will learn some self-control and apply it everywhere in my life (starting with my mouth😋).</p>

      <p>If you're one of those people who know this stuff, my Enneagram number is Seven and my personality type is Campaigner.</p>
      <div class="row flex-center">
        <a class="paper-btn btn-small btn-primary-outline" href="/feed.xml"><i class="fas fa-rss"></i></a>
        <a class="paper-btn btn-small btn-primary-outline" href="https://github.com/Aspiring-Writer"><i class="fab fa-github"></i></a>
        <a class="paper-btn btn-small btn-primary-outline" href="https://www.reddit.com/user/Y_Mystake_O"><i class="fab fa-reddit"></i></a>
        <a class="paper-btn btn-small btn-primary-outline" href="https://www.goodreads.com/user/show/80834407-bravisha-skietano"><i class="fab fa-goodreads"></i></a>
      </div>
      <hr>
    </div>
  </div>
  <div class="sm-12 md-8 col">
    <div class="paper">
      <article class="article">
        <h1 class="article-title">
          {{ page.title }}
        </h1>
        {{ content }}
      </article>
      <hr>
    </div>
  </div>
</div>