---
layout: base
---
<div class="row flex-center">
  <div class="sm-12 md-8 lg-10 col">
    <div class="container paper">
      <ul class="breadcrumb border">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <li><a href="{{ site.url }}{{ site.baseurl }}"><i class="fas fa-home"></i></a></li>
      {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
          <li>{{ page.title }}</li>
        {% else %}
          <li><a href="{{ '/books' | relative_url }}/#{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
      <article class="article">
        {% if page.image %}<img src="{{ page.image }}" alt="Header image">{% endif %}
        <h1 class="article-title">{{ page.title }}</h1>
        <p class="article-meta center">Written on
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: date_format }}
          </time>
          {%- if page.last_modified_at -%}
            ~ Last updated on
            {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
            <time datetime="{{ mdate }}" itemprop="dateModified">
              {{ mdate | date: date_format }}
            </time>
          {%- endif -%}
        </p>

        {{ content }}

        <br><hr><br>

        <div class="row flex-center">
          <div class="sm-4 col">
            {% if post %}
              {% assign categories = post.categories %}
            {% else %}
              {% assign categories = page.categories %}
            {% endif %}
            <h4 class="center">Book</h4>
            <div class="row flex-center">
              {% for category in categories %}
              <a class="paper-btn btn-small" href="{{ '/books' | relative_url }}#{{ category | slugify }}">{{ category | capitalize }}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>

            {% if post %}
              {% assign tags = post.tags %}
            {% else %}
              {% assign tags = page.tags %}
            {% endif %}
            <h4 class="center">Tags</h4>
            <div class="row flex-center">
              {% for tag in tags %}
              <a class="paper-btn btn-small" href="{{ '/tags' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
          </div>
          
          <div class="col-fill col">
            <h4 class="center">You May Also Enjoy</h4>
            {% assign RELATED_POSTS_THRESHOLD = 3 %}
            {% assign related_post_count = 0 %}
            {% for post in site.related_posts %}
              {% if related_post_count == RELATED_POSTS_THRESHOLD %}
                {% break %}
              {% endif %}
              {% for tag in post.tags %}
                {% if page.tags contains tag %}
                  <p>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> &raquo; 
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; 
                    {{ post.content | truncatewords: 25 | strip_html | strip_newlines }}
                  </p>
                  {% assign related_post_count = related_post_count | plus: 1 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% assign posts_left = RELATED_POSTS_THRESHOLD | minus: related_post_count %}
            {% unless posts_left == 0 %}
              {% for post in site.related_posts %}
                {% if posts_left == 0 %}
                  {% break %}
                {% endif %}

                {% assign already_related = false %}
                {% for tag in post.tags %}
                  {% if page.tags contains tag %}
                    {% assign already_related = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% unless already_related %}
                  {% assign posts_left = posts_left | minus: 1 %}
                  <p>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> &raquo; 
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; 
                    {{ post.content | truncatewords: 25 | strip_html | strip_newlines }}
                  </p>
                {% endunless %}
              {% endfor %}
            {% endunless %}

          </div>
        </div>

        <br><hr><br>

        <div class="row flex-center">
          {% if page.previous.url %}
            <a class="paper-btn" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="paper-btn" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
          {% endif %}
        </div>
      </article>
    </div>
  </div>

</div>

<div class="row flex-center">
  <div class="container paper">
    <div id="hyvor-talk-view"></div>
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 3425; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: '{{ page.url | absolute_url }}',
            id: '{{page.id}}'
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
  </div>
</div>