---
layout: page
title: Tags
eleventyNavigation:
  key: tags
  order: 3
  icon: pricetags
---

<ul>
  {% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li>
      <a href="{{ tagUrl }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
